<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheatdatabase" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".CheatDatabaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon_fox"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:logo="@drawable/logo_full_centered"
        android:theme="@style/Theme.Navyblue" >
        <provider
            android:name=".search.SearchSuggestionProvider"
            android:authorities="com.cheatdatabase.search.SearchSuggestionProvider" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity_"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".search.SearchResultsActivity"
            android:label="@string/title_activity_search_result"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".MainActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".GamesBySystemActivity_"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".MainActivity_"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>
        <activity android:name=".helpers.Helper" />
        <activity
            android:name=".SubmitCheatActivity"
            android:logo="@drawable/app_icon_fox" />
        <activity
            android:name=".CheatListActivity"
            android:label="@string/title_cheat_list"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".GamesBySystemActivity_"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cheatdatabase.GamesBySystemActivity_" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:logo="@drawable/app_icon_fox"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".RecoverActivity"
            android:label="@string/title_activity_recover"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".CheatForumActivity"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".handset.cheatview.CheatViewPageIndicator"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cheatdatabase.handset.cheatview.CheatViewPageIndicator" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".MemberCheatListActivity"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".MainActivity_" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".members.cheatview.MemberCheatViewPageIndicator"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".MemberCheatListActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".handset.cheatview.CheatViewPageIndicator"
            android:label="@string/title_cheat_detail"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".CheatListActivity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CheatListActivity" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".favorites.FavoriteCheatListActivity"
            android:label="@string/title_favorite_list"
            android:logo="@drawable/app_icon_fox"
            android:parentActivityName=".MainActivity_"
            android:theme="@style/Theme.Navyblue" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cheatdatabase.MainActivity_" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".favorites.handset.cheatview.FavoritesCheatViewPageIndicator"
            android:label="@string/title_cheat_detail"
            android:logo="@drawable/app_icon_fox"
            android:theme="@style/Theme.Navyblue"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.cheatdatabase.search.SearchResultsActivity" />
        </activity>

        <!-- =========== -->
        <!-- AD NETWORKS -->
        <!-- =========== -->


        <!-- MOPUB -->
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.millennialmedia.android.MMActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- AppBrain SDK -->
        <activity
            android:name="com.appbrain.AppBrainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />

        <service android:name="com.appbrain.AppBrainService" />

        <receiver
            android:name="com.appbrain.ReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- INMOBI -->
        <activity
            android:name="com.inmobi.androidsdk.IMBrowserActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
            android:hardwareAccelerated="true" />

        <!-- GOOGLE ANALYTICS -->
        <!-- Enable background dispatching to improve delivery on non-Google Play devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Enable Google Play Store Campaign reports -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true" />

    </application>

</manifest>
